<!--div style="padding: 12px 12px 0 12px;">
  <button ion-button full icon-left round (click)="showRadio()">
      <ion-icon name="funnel"></ion-icon> Filtrar Por Departamento
  </button>
</div-->

<p *ngIf="departament_selected" class="text-center">
  {{ all_solicitations.length }} chamados para {{ departament_selected }}
</p>
<!-- List if NO have showsearchbar -->
  <ion-card *ngFor="let solicitation of all_solicitations" (click)="onDetail(solicitation)">
      <ion-card-header>
        {{ solicitation.ref }}
        <ion-note item-end class="ion-note-right">
          {{ solicitation.status }}
        </ion-note>
      </ion-card-header>
      <ion-card-content>
        {{ solicitation.title }}
      </ion-card-content>
    </ion-card>
<p *ngIf="all_solicitations.length === 0" class="text-center">Não há solicitações!</p> 
<!-- END List if NO have showsearchbar -->