<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nova Solicitação</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onSave()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form">
      <ion-item>
          <ion-label color="primary" floating>* Título</ion-label>
          <ion-input type="text" formControlName="title"></ion-input> 
        </ion-item>
      <ion-item>
        <ion-label color="primary">Serviço</ion-label>
        <ion-select formControlName="service" (ionChange)="onSelectChange($event)">
          <ion-option *ngFor="let service of services" [value]="service">{{ service.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label color="primary">Sub Serviço</ion-label>
          <ion-select [disabled]="!subServices"  formControlName="subService">
            <ion-option *ngFor="let subService of subServices" [value]="subService">{{ subService.name }}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>* Entre com uma descrição</ion-label>
        <ion-textarea formControlName="description"></ion-textarea> 
      </ion-item>
  </form>

  <ion-row style="margin: 10px 10px 10px 0;">
    <h2>Anexar Imagem</h2>
    <ion-fab right>
      <button ion-fab color="dark" (click)="onAddAttachment()">
          <ion-icon name="attach"></ion-icon>
      </button>
    </ion-fab>
  </ion-row>
  <p>{{ images.length }} imagens anexadas.</p>
  <!--ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col width-50 *ngFor="let file_uri of row" (click)="showFullScreenPhoto(file_uri)">
        <img [src]="file_uri">
      </ion-col>
    </ion-row>
  </ion-grid-->
  <ion-list>
      <ion-item *ngFor="let image of images">
        <ion-thumbnail item-start (click)="showFullScreenPhoto(image)">
          <img [src]="image">
        </ion-thumbnail>
        <button ion-button clear item-end (click)="removeImageFromList(image)">Remover</button>
      </ion-item>
    </ion-list>
</ion-content>
