<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col>
      <img width="50%" src="assets/imgs/logo-nobackground.png" />
    </ion-col>
  </ion-row>

  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
      <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-icon name="ios-contact-outline" item-left color="primary"></ion-icon>
                <ion-input class="form-control" type="text" placeholder="Usuário" formControlName="username"></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="ios-lock-outline" item-left color="primary"></ion-icon>
                <ion-input class="form-control" type="password" placeholder="Senha" formControlName="password"></ion-input>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full type="submit" [disabled]="signinForm.invalid">Entrar</button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col col-12>
        <a (click)="gotoForgotPwdPage()">Esqueceu sua senha?</a>
      </ion-col>
    </ion-row>
</ion-content>
