<ion-header>
    <ion-toolbar>
      <ion-title>
        Comentários
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Atualizando...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item *ngFor="let comment of comments" text-wrap>
        <strong><p>{{ comment.time }}</p></strong>
          <p>{{ comment.comment }}</p>
      </ion-item>
      <p *ngIf="comments.length === 0" style="text-align: center;">Não há mensagens para esta solicitação!</p> 
    </ion-list>
  </ion-content>

  <ion-footer>
      <form [formGroup]="form" (ngSubmit)="onSubmit(); $event.preventDefault()">
        <ion-row>
          <ion-item>
            <ion-textarea placeholder="Comentário" formControlName="comment"></ion-textarea> 

            <button ion-button type="submit" item-end icon-only [disabled]="form.invalid">
              <ion-icon ios="ios-send" md="md-send"></ion-icon>
            </button>
          </ion-item>
        </ion-row>
      </form>
  </ion-footer>