<ion-header>
  <ion-toolbar>
    <ion-title>
      Anexos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let attachment of attachments" (click)="openDocument(attachment)">
      <ion-thumbnail item-start *ngIf="attachment.mimeType === 'image/jpeg' || attachment.mimeType === 'image/png'">
        <img [src]="attachment.name">
      </ion-thumbnail>
      <h2>Anexo {{ attachment.filename }}</h2>
    </ion-item>

    <p *ngIf="attachments.length === 0">Nenhum anexo nesta solicitação!</p>
  </ion-list>
</ion-content>