<ion-header>

  <ion-navbar color="primary">
    <ion-title>Solicitação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2><strong>{{ solicitation.ref }}</strong></h2>
  <p><strong>Título: </strong>{{ solicitation.title }}</p>
  <p><strong>Tipo de Serviço: </strong>{{ solicitation.service_name }}</p>
  <p><strong>Tipo de SubServiço: </strong>{{ solicitation.servicesubcategory_name }}</p>
  <p><strong>Descrição: </strong>{{ solicitation.description }}</p>
  <p><strong>Data de Abertura: </strong>{{ solicitation.start_date }}</p>
  <p><strong>Status do Chamado: </strong>{{ solicitation.status }}</p>
  
  <h4><strong><ion-icon name="attach"></ion-icon> Anexos de Imagens</strong></h4>
  <ion-list>
    <div *ngFor="let attachment of attachments">
      <ion-item *ngIf="attachment.mimeType === '.jpg' || attachment.mimeType === '.png'" (click)="openDocument(attachment)">
        <img [src]="'data:image/png;base64,'+ attachment.image | safeHtml" width="100%" *ngIf="attachment.mimeType === '.png'" />
        <img [src]="'data:image/jpg;base64,'+ attachment.image | safeHtml" width="100%" height="50%" *ngIf="attachment.mimeType === '.jpg'" />
      </ion-item>
    </div>
    <p *ngIf="attachments.length === 0">Nenhuma imagem anexada para esta solicitação!</p>
  </ion-list>

  <h4><strong><ion-icon name="attach"></ion-icon> Documentos Anexados</strong></h4>
  <ion-list>
    <div *ngFor="let attachment of attachments">
      <ion-item *ngIf="attachment.mimeType != '.jpg' && attachment.mimeType != '.png'" (click)="openDocument(attachment)">
        <p>{{ attachment.filename }}</p>
      </ion-item>
    </div>
    <p *ngIf="attachments.length === 0">Não há Documentos para esta solicitação!</p>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab (click)="openCommentModal()">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
    </button>
  </ion-fab>
  <!--ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="openAttachmentModal()"><ion-icon name="attach"></ion-icon></button>
      <button ion-fab (click)="openCommentModal()">
        <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab-->
</ion-content>
